html {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16px;
}
body {
  font-family: "open-sans", sans-serif;
  color: #52241c;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "open-sans", sans-serif;
}
h1 {
  font-size: 2rem;
  color: #52241c;
}
h2 {
  font-size: 1.25rem;
  color: #ec4281;
}
figure {
  margin-bottom: 24px;
  position: relative;
}
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px "open-sans", sans-serif;
}
#mc-embedded-subscribe-form {
  padding-top: 0;
}
#mc-embedded-subscribe-form #mce-EMAIL {
  margin: 9px auto;
  border-color: #592a1e;
  font-size: 20px;
  margin-top: 0;
}
#mc-embedded-subscribe-form #mc-embedded-subscribe {
  margin: 9px auto;
  font: 14px "open-sans", sans-serif;
  background-color: #592a1e;
}
section {
  border-top: 1px solid red;
}
#masthead {
  max-width: 33.3%;
  margin: 1em 0 2em 0;
}
#footerlogo {
  max-width: 65%;
}
nav {
  margin: 1em 0;
}
nav ul {
  margin: 0;
}
nav li {
  display: inline-block;
  list-style: none;
  margin-right: 2em;
}
nav li:last-of-type {
  margin-right: 0;
}
#map {
  max-width: 75%;
  margin: 1em 0;
}
#footer {
  background-color: #592a1e;
  color: white;
}
#instafeed {
  padding-bottom: 2em;
}
#instafeed img {
  width: 33.3%;
}
#drinkmenu,
#foodmenu {
  text-align: left;
}
#drinkmenu h2,
#foodmenu h2 {
  margin-bottom: 0;
}
ul.tiles,
ul.xreftiles {
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
}
ul.tiles li {
  max-width: 100%;
  /*min-height: 21em;*/
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border: none;
  list-style: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
}
ul.tiles li a,
ul.xreftiles li a,
a.fauxtilelink {
  color: #754721;
  text-decoration: none;
}
ul.tiles figcaption ul.xreftiles figcaption {
  margin: 0;
  padding: 0;
  display: block;
  height: 32px;
  width: 100%;
}
ul.tiles figcaption p,
ul.xreftiles figcaption p,
a.fauxtilelink {
  line-height: 1.0;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0.5em 0;
  font-size: 80%;
}
p.tile-category {
  display: none;
}
ul.tiles figure,
ul.xreftiles figure {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}
ul.tiles img,
ul.xreftiles img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
ul.tiles li:hover,
ul.xreftiles li:hover,
a.fauxtilelink:hover {
  text-decoration: underline;
}
ul.xreftiles li {
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border: none;
  list-style: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1em;
}
.new {
  text-transform: uppercase;
  font-family: 'Avenir LT W04_95 Black';
  color: #dd3d29;
}
@media only screen and (max-width: 568px) {
  html {
    font-size: 12px;
  }
  #mc-embedded-subscribe-form #mce-EMAIL {
    width: 90%;
    font-size: 20px;
  }
  figure {
    margin: 9px 9px 24px 9px;
    width: 95%;
  }
}
@media only screen and (max-width: 390px) {
  html {
    font-size: 12px;
  }
  ul.tiles li {
    width: 50%;
  }
  #mc-embedded-subscribe-form #mce-EMAIL {
    font-size: 17px;
  }
}
@media only screen and (min-width: 480px) {
  ul.tiles li {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  ul.tiles li {
    width: 33.3%;
  }
}
