body {
	background-color: white;
	color:black;
	text-align: center;
}

h1 {
	font-family: "open-sans", sans-serif;
}

p {
	font-family: "open-sans", sans-serif;
	font-size:28px;
	line-height: 1.4;
}

p.large {
	font-size:48px;
	text-transform: uppercase;
}

figure {
	margin-bottom: 24px;
}

#mc_embed_signup {background:#fff; clear:left; font:14px "open-sans",sans-serif; }
#mc-embedded-subscribe-form {padding-top:0;}
#mc-embedded-subscribe-form #mce-EMAIL { margin:9px auto; border-color: #592a1e; font-size:20px; margin-top:0;}
#mc-embedded-subscribe-form #mc-embedded-subscribe { margin:9px auto;font:14px "open-sans",sans-serif; background-color: #592a1e;}


@media only screen and (max-width: 568px) {

	p {
		font-size: 20px;
	}	

	p.large {
		font-size: 20px;
	}

	#mc-embedded-subscribe-form #mce-EMAIL {
		width:90%;
		font-size: 20px;
	}

	figure {
		margin:9px 9px 24px 9px;
		width:95%;
	}
}

@media only screen and (max-width: 390px) {

	p {
		font-size: 17px;
	}	

	p.large {
		font-size: 17px;
	}

	#mc-embedded-subscribe-form #mce-EMAIL { font-size:17px;}
}
